header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;;

    .site-branding {

    }

    nav {
        width:50%;
        height: 75px;
        background-color: #bca5cf;
    
        .menu-menu-1-container{
            height: 100%;
        }
        ul.menu {
            width: 95%;
            height: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            @media#{$desktop}{
                flex-direction: row;
            }
            > li { // def a top level nav item
                position: relative;
                
                &.current-menu-item {
                    a {
                        font-style: italic;
                    }
                }
                a {
                    //color: white;
                    text-decoration: none;
                    font-size: 1em;
                    width:20%;
                    margin:2%;

                    &:hover {
                        text-decoration: underline;

                    }
                }
                &:hover {
                    ul.sub-menu {
                        display: block;
                    }    
                }
                ul.sub-menu {
                    display: none;
                    position: absolute;
                    li { // 2nd level nav item
                        a {
                            font-size: 1.0em;

                        }
                    }
                }
            }
        }
    }
}